@media screen and (min-width: 765px) {
    .header__nav .hidden {
        display: flex;
  
      }
      
    .header__nav .nav__bar {
        display: none;
    }

    .menu {
        margin: 0;
        top: 0;
        justify-content: flex-end;
        gap: 1em;
    }
    

    .main {
        max-width: none;
        padding: 0 10em;
        margin: auto;
    }

    .head_img__text {
        top: 50vh;
        font-size: 64px;
    }

    .slider_item {
        height: 50vh !important; 
    }

    .slider_item__text {
        font-size: 44px;
    }

    .section__img {
        max-width: 600px;
    }

}