:root {
    --black: #000000;
    --white: #ffffff;
    --brown: #251605;
    --clearer-brown: #251605ef;
    --shadow: #000000af;
    --red: #FE654F;
    --dark-red: #A4031F;
}

html {
    font-family: 'Inter', sans-serif;

}


a {
    text-decoration: none;
    color: var(--black);
    display: block;
}

ul,
menu,
h1 {
    margin: 0;
    padding: 0;
}

li {

    list-style: none;
}

img {
    width: 100%;
    height: 100%;
}



.main {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: auto;
}


.header {
    background-image: url(../imgs/Tynka_devron_S.jpg);
    background-position: 25% 5%;
    background-size: cover;
    height: 100vh;

}




.nav__bar {
    position: fixed;
    z-index: 22;
    top: 0;
    height: 50px;
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: var(--clearer-brown);
}

.button_hamburger {
    display: inline-block;
    padding: .5em 1em;
}

.button_hamburger::after {
    content: url(../svg/hamburger.svg);

}

.hidden {
    display: none;
    position: fixed;
    top: 50px;
}


.menu {
    margin-top: 50px;
    background-color: var(--clearer-brown);
    position: fixed;
    z-index: 22;
    width: 100%;
    text-align: center;
}



.menu__button {
    color: var(--white);
    padding: 1em;
    position: relative;
    font-weight: bold;
}


.menu__button:hover {
    background-color: var(--dark-red);
    color: var(--white);
}



.head_img {
    height: inherit;
    text-align: center;
    background-color: var(--shadow);
    position: relative;
}


.head_img__text {
    color: var(--white);
    font-size: 36px;
    text-align: start;
    position: absolute;
    top: 50vh;
    padding: 1em;

}

.main {
    padding: 1em;
}

.main__heading {
    padding: .5em;
    max-width: 700px;
    margin-top: 2em;
}

.section {
    padding: .5em;
    position: relative;
}

.section__map > iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    max-width: 600px;
    max-height: 400px;
}

.section__map {
    position: relative;
    padding-bottom: 50%;
    max-width: 600px;
    height: 100px;
    margin: auto;
}



.main__section {
    padding: 2em .5em;
}

.section__heading {
    font-weight: bold;
    padding: .5em;
}

.section__heading--absolute {
    position: absolute;
    top: -14px;
    background-color: var(--white);
    margin-left: 1em;
    color: var(--dark-red);
}

.section__heading_main {
    top: 10px;
}

.section__heading--red {
    color: var(--dark-red);
    margin: 0;
}

.section__img {
    max-width: 350px;
    margin: auto;
}



.section__text--border {
    border-top: 2px var(--dark-red) solid;
    padding-top: 2em;
    line-height: 1.5;
}

.img_wrapper__item {
    width: 100%;
    height: 100%;
}

.image__caption {
    padding: 1em;
}

.footer {
    background-color: var(--brown);
    padding: .5em 1.5em;
    margin-top: 2em;
    margin: auto;
    color: var(--white);
}

.list_tabor__item {
    padding: .5em;
}


.list__item>a {
    color: var(--white);
}


.list__item_logo {
    display: flex;
    align-items: center;
    gap: .5em;
    left: -0.45em;
    position: relative;
}

.footer_bottom__list {
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: flex-end;
}


.link {
    display: inline-block;
    padding: .5em;
}

.link--ig::before {
    content: url(../svg/ig_logo.svg);
    display: inline-block;

}

.link--mail::before {
    content: url(../svg/mail.svg);
    display: inline-block;


}

.link--phone::before {
    content: url(../svg/phone.svg);
    display: inline-block;

}

.footer__heading{
    text-align: center;
}

.footer__list {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    gap: 1em;
    justify-content: center;
}


.slider_ustajeni {
    max-width: 80vw;
}

.slider_ustajeni__item {
    
    align-content: center;
    flex-wrap: wrap;
}


.slider_item {
    display: flex !important;
    width: 80vw;
    height: 40vh !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.slider_item--jizdarna {
    background-image: url(../imgs/tynka_jizdarna_S.jpg);

}

.slider_item--mistovani {
    background-image: url(../imgs/Green_v_boxe_S.jpg);
}


.slider_item--vybeh {
    background-image: url(../imgs/vybeh_S.jpg);
}

.slider_item--krmeni {
    background-image: url(../imgs/sava_krmeni_S.jpg);
}


.slider_item--sedlovna {
    background-image: url(../imgs/Klubovna_S.jpg);
}

.slider_item__wraper {
    width: inherit;
    height: inherit;
    background-color: var(--shadow);
    position: absolute;
    top: 0;


}


.slider_item__text {
    color: var(--white);
    font-weight: 600;
    font-size: 24px;
    padding: 16px;
    z-index: 2;
}

.slider_item__text--red {
    color: var(--red);
}


.ustajeni__text {
    margin: auto;
    text-align: center;
    padding: 1em;
}

.ustajeni__text--bold {
    font-weight: bolder;
}

.ustajeni__text_other {
    color: var(--red);
    font-style: italic;
    padding: 1em;

}

.swiper {
    width: 100%;
    height: 100%;
}


.section_kontakt {
    padding: 1em;
}

.section__item {

    text-align: center;
    padding: 2em 0;
}

.section_contact__heading {
    font-weight: 600;
}

.item_contact {
    border-right: 1px solid var(--dark-red);
    border-left: 1px solid var(--dark-red);
    width: 250px;
    height: 200px;
    display: inline-block;

}

.section__item--phone::before {
    content: url(../svg/phone_red.svg);

}

.section__item--mail::before {
    content: url(../svg/mail_red.svg);

}

.section__item--ig::before {
    content: url(../svg/ig_red.svg);
}

.section__item--card::before {
    content: url(../svg/card_red.svg);
}

.item_contact__heading {
    font-weight: 600;
    padding: 1em 0;
}



.contact_cards_wrapper {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em 0;

} 

.contact_wrapper {
    display: inline-block;
}


.section__item--phone:hover::before {
    content: url(../svg/phone_white.svg);
}


.section__item--mail:hover::before {
    content: url(../svg/mail_white.svg);
}


.section__item--ig:hover::before {
    content: url(../svg/ig_white.svg);
}



.contact_wrapper:hover {
    background-color: var(--dark-red);
    color: white;

}

.prize {
    display: flex;
    gap: 2em;
    flex-direction: column;
    flex-wrap: nowrap;
}


.prize_item {
    padding: 1em;
    width: 250px;
    border: 2px var(--dark-red) solid;
    position: relative;
    
}



.prize_item__heading {
    color: var(--dark-red);
    padding: .5em;
    margin: 0;
    display: inline;
    background-color: var(--white);
    position: absolute;
    top: -20px;
}

.prize_item__text {
    margin: 2em 0;
    font-weight: 600;
}


.prize_item__smalltext {
    margin: 2em 0;
}

.prize_button {
    color: var(--dark-red);
    border: 2px var(--dark-red) solid;
    padding: .5em;
    display: inline-block;
    border-radius: 5px;
    font-weight: bold;
    margin: 1em 0;
}

.prize_button:hover {
    background-color: var(--dark-red);
    color: var(--white);
}

.prize_item__prize {
    text-align: end;
}


.table {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
}

.table__item--right {
    text-align: right;
}


.prize_item__prize--line::after {
    content: "";
    width: 75px;
    height: 2px;
    background-color: var(--dark-red);
    display: block;
    margin: 1em auto;
}




.section_cenik {
    max-width: 500px;
    margin: 2em auto;
}

.table__item>p {
    margin: .5em 0;
}

.section--line::after {
    content: "";
    width: 96px;
    height: 1px;
    background-color: var(--dark-red);
    display: block;
    margin: 2em auto;
}

.list_tabor__item {
    margin: 0 .5em;

}

.list_tabor__item--bold {
    font-weight: 600;
}

.list_tabor__item--block {
    display: block;
}

.prize_button--center {
    margin: 1em auto;
    display: table;
}

.list_tabor__payment {
    margin: 0 1em;

}


.small_nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    max-width: 500px;
    margin: auto;
    gap: 2em;
}

.button_kone {
    width: 120px;
    text-align: center;
}

.main__section {
    max-width: 600px;
}

.card{
    max-width: 350px;
    position: relative;
}

.card_top {
    width: 300px;
    margin: auto;
}

.card_top__jmeno {
    font-weight: bold;
    font-size: 20px;
    padding: 0 .5em;
    background-color: var(--white);
    margin-left: 1em;
    color: var(--dark-red);
    position: relative;
    display: inline-block;
}

.card_top__jmeno::before {
    content: "";
    width: 250px;
    height: 3px;
    display: block;
    background-color: var(--dark-red);
    position: absolute;
    top: 11px;
    left: -20px;
    z-index: -22;

    
}

.card_top_text--bold {
    font-weight: bold;
}



.img_kone__wrapper {
    max-width: 300px;
    margin: auto;
}


.img_kone__wrapper--vyska {
    max-width: 250px;
}


.img_kone__wrapper:hover {
    transform: scale(110%);
    transition-timing-function: ease-in;
    transition-duration: .5s;
}


.section_year{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2em 1em;

}


.section_year__heading {
    font-size: 24px;

}

.article_news__heading {
    font-size: 20px;
    text-align: center;
    color: var(--dark-red);
}

.img_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    max-width: 350px;
    margin: auto;
    
}

.img_container__part {
    margin: 0;
}

.img_container__part--sirka{
    grid-column: 1 / span 2;
}




.news_structure {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 50px;
    gap: 1em;
    justify-items: center
}


.img_container__part--five {
    grid-row: 1;
}

.img_container__part--four {
    grid-row: 2;
}

.img_container__part--three {
    grid-row: 3;
}
.img_container__part--two {
    grid-row: 4;
}

.img_container__part--one {
    grid-row: 5;
}

.article_news {
    max-width: 500px;
}


.section_article__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

.section__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}


.section_cards {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 3em;
}


.section_tabor {
    max-width: 600px;
}

.section_sluzby {
    max-width: 38em;
}

.gallery {
    max-width: 80vw;
    height: 80vh;
}



