:root {
    --black: #000000;
    --white: #ffffff;
    --brown: #251605;
    --clearer-brown: #251605ef;
    --shadow: #000000af;
    --red: #FE654F;
    --dark-red: #A4031F;
}

html {
    font-family: 'Inter', sans-serif;

}


a {
    text-decoration: none;
    color: var(--black);
    display: block;
}

ul,
menu,
h1 {
    margin: 0;
    padding: 0;
}

li {

    list-style: none;
}

img {
    width: 100%;
    height: 100%;
}



.main {
    max-width: 500px;
    margin: auto;
}


.header {
    background-image: url(../imgs/Tynka_devron_S.jpg);
    background-position: 25% 5%;
    background-size: cover;
    height: 100vh;

}




.nav {}

.nav__bar {
    position: fixed;
    z-index: 22;
    top: 0;
    height: 50px;
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: var(--clearer-brown);
}

.button_hamburger {
    display: inline-block;
    padding: .5em 1em;
}

.button_hamburger::after {
    content: url(../svg/hamburger.svg);

}

.hidden {
    display: none;
    position: fixed;
    top: 50px;
}


.menu {
    margin-top: 50px;
    background-color: var(--clearer-brown);
    position: fixed;
    z-index: 22;
    width: 100vw;
    text-align: center;
}



.menu__button {
    color: var(--white);
    padding: 1em;
}


.head_img {
    height: inherit;
    text-align: center;
    background-color: var(--shadow);
    position: relative;
}


.head_img__text {
    color: var(--white);
    font-size: 36px;
    text-align: start;
    position: absolute;
    top: 50vh;
    padding: 1em;

}

.main {
    padding: 1em;
}

.main__heading {
    padding: .5em;
}

.section {
    padding: .5em;
    position: relative;
}

.section__map > iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    max-width: 600px;
    max-height: 400px;
}

.section__map {
    position: relative;
    padding-bottom: 50%;
    max-width: 600px;
    max-height: 400px;
    margin: auto;
}



.main__section {
    padding: 2em .5em;
}

.section__heading {
    font-weight: bold;
    padding: .5em;
}

.section__heading--absolute {
    position: absolute;
    top: 10px;
    background-color: var(--white);
    margin-left: 1em;
    color: var(--dark-red);
}

.section__heading--red {
    color: var(--dark-red);
    margin: 0;
}

.section__img {
    max-width: 350px;
    margin: auto;
}



.section__text--border {
    border-top: 2px var(--dark-red) solid;
    padding-top: 2em;
    line-height: 1.5;
}

.img_wrapper__item {
    width: 100%;
    height: 100%;
}

.image__caption {
    padding: 1em;
}

.footer {
    background-color: var(--brown);
    padding: .5em 1.5em;
    margin-top: 2em;
    margin: auto;
    color: var(--white);
}

.list_tabor__item {
    padding: .5em;
}


.list__item>a {
    color: var(--white);
}


.list__item_logo {
    display: flex;
    align-items: center;
    gap: .5em;
    left: -0.45em;
    position: relative;
}


.link {
    display: inline-block;
    padding: .5em;
}

.link--ig::before {
    content: url(../svg/ig_logo.svg);
    display: inline-block;

}

.link--mail::before {
    content: url(../svg/mail.svg);
    display: inline-block;


}

.link--phone::before {
    content: url(../svg/phone.svg);
    display: inline-block;

}

.footer__heading{
    text-align: center;
}

.footer__list {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    gap: .5em;
    justify-content: center;
}


.slider_ustajeni__item {
    display: flex !important;
    align-content: center;
    flex-wrap: wrap;
}


.slider_item {
    width: 80vw;
    height: 40vh !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.slider_item--jizdarna {
    background-image: url(../imgs/tynka_jizdarna_S.jpg);

}

.slider_item--mistovani {
    background-image: url(../imgs/Green_v_boxe_S.jpg);
}


.slider_item--vybeh {
    background-image: url(../imgs/vybeh_S.jpg);
}

.slider_item--krmeni {
    background-image: url(../imgs/sava_krmeni_S.jpg);
}


.slider_item--sedlovna {
    background-image: url(../imgs/Klubovna_S.jpg);
}

.slider_item__wraper {
    width: inherit;
    height: inherit;
    background-color: var(--shadow);
    position: absolute;
    top: 0;


}


.slider_item__text {
    color: var(--white);
    font-weight: 600;
    font-size: 24px;
    padding: 16px;
    z-index: 2;
}

.slider_item__text--red {
    color: var(--red);
}


.ustajeni__text {
    margin: auto;
    text-align: center;
    padding: 1em;
}

.ustajeni__text--bold {
    font-weight: bolder;
}

.ustajeni__text_other {
    color: var(--red);
    font-style: italic;
    padding: 1em;

}

.swiper {
    width: 100%;
    height: 100%;
}


.section_kontakt {
    padding: 1em;
}

.section__item {

    text-align: center;
    padding: 2em 0;
}

.section_contact__heading {
    font-weight: 600;
}

.item_contact {
    border-right: 1px solid var(--dark-red);
    border-left: 1px solid var(--dark-red);
    width: 250px;
    height: 200px;

}

.section__item--phone::before {
    content: url(../svg/phone_red.svg);

}

.section__item--mail::before {
    content: url(../svg/mail_red.svg);

}

.section__item--ig::before {
    content: url(../svg/ig_red.svg);
}

.section__item--card::before {
    content: url(../svg/card_red.svg);
}

.item_contact__heading {
    font-weight: 600;
    padding: 1em 0;
}

.contact_cards_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 32px;
    padding-bottom: 3em;
    justify-content: center;
}



.section__item--phone:hover::before {
    content: url(../svg/phone_white.svg);
}


.section__item--mail:hover::before {
    content: url(../svg/mail_white.svg);
}


.section__item--ig:hover::before {
    content: url(../svg/ig_white.svg);
}


.section__item--card:hover::before {
    content: url(../svg/card_white.svg);
}

.contact_wrapper:hover {
    background-color: var(--dark-red);
    color: white;

}



.prize_item {
    padding: 1em;
    max-width: 250px;
    margin: 3em auto;
    border: 2px var(--dark-red) solid;
    position: relative;
}



.prize_item__heading {
    color: var(--dark-red);
    padding: .5em;
    margin: 0;
    display: inline;
    background-color: var(--white);
    position: absolute;
    top: -20px;
}

.prize_item__text {
    margin: 2em 0;
    font-weight: 600;
}


.prize_item__smalltext {
    margin: 2em 0;
}

.prize_button {
    color: var(--dark-red);
    border: 2px var(--dark-red) solid;
    padding: .5em;
    display: inline-block;
    border-radius: 5px;
    font-weight: bold;
    margin: 1em 0;
}

.prize_button:hover {
    background-color: var(--dark-red);
    color: var(--white);
}

.prize_item__prize {
    text-align: end;
}


.prize_item__prize--line::after {
    content: "";
    width: 75px;
    height: 2px;
    background-color: var(--dark-red);
    display: block;
    margin: 1em auto;
}

.prize_table {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

}

.prani__item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.section_cenik {
    max-width: 500px;
    margin: 2em 0;
}

.prani__item>p {
    margin: .5em 0;
}

.section--line::after {
    content: "";
    width: 96px;
    height: 1px;
    background-color: var(--dark-red);
    display: block;
    margin: 2em auto;
}

.list_tabor__item {
    margin: 0 .5em;

}

.list_tabor__item--bold {
    font-weight: 600;
}

.list_tabor__item--block {
    display: block;
}

.prize_button--center {
    margin: 1em auto;
    display: table;
}

.list_tabor__payment {
    margin: 0 1em;

}